body {
	max-width: 650px;
}


header {
	font-size: 35px;
	margin-left: 90px;
}


nav {
	
}


a {
	text-decoration: none;
}


ul {

}


li {
	list-style-type: none;
	display: inline;
	padding: 50px;
	
}


p* {
}

